<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/css?family=Della+Respira|Josefin+Slab" rel="stylesheet">   
    <title></title>
</head>

<body>
    <h1>Airport Arrivals</h1>
    <a href="/backtohomepage">Home</a>








    <%- body %>

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/displayApiInfo.js"></script>
</body>

</html>