<!DOCTYPE html>
<html>
<head>
  <title>Search Airport</title>
</head>
<body>
   <h1 id"searchAirport">Search Airport</h1>
  <div class="row input">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Enter Desired Airport by City Or Location" name="search" id="search" type="text" class="validate" required>
          <button id="submitSearch" class="btn waves-effect waves-light" type="submit" name="action">submit</button>
        </div>
      </div>
   </form>
    </div>


  <div id="SearchTitle">  </div>  
    <table class="tablecolor"  style="width:100%" border="2px" text-align="center">
      <tr class="header">
        <th id="aName"><h4>Name</h4></th>
        <th id="aCity"><h4>City</h4></th> 
        <th></th>
      </tr>
       <td> <div id="airportName">  </div> </td>
       <td> <div id="City">  </div> </td>
       <td> <div id="iataCode">  </div>    </td>           
            </table>
    </body>
</html>